.main article {
	width: 40%;
	min-width: 610px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.main article img {
	margin-bottom: 55px;
}

.main article img.about_h {
	margin-bottom: 20px;
}

.main article nav {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: baseline;
	justify-content: space-between;
}

.main article .nav1 {
	width: 90%;
}

.main article .nav2 {
	width: 33%;
}

