.about_h {
 	margin-left: 47%;
 	padding-top: 52px;
}

.nav1 {
 	margin-left: 24%;
}

.nav1 img {
 	margin-left: 50px;
 	margin-top: 17px;
}

.worlds {
 	margin-top: 60px;
 	margin-left: 29%;
}

.nav2 {
	margin-left: 38%;
}

.nav2 img {
 	margin-top: 57px;
 	margin-left: 50px;
}