article {
	width: 70%;
	margin-top: 65px;
	margin-left: 14.5%;
	white-space: pre-wrap;
	color: grey;
	font-size: 
}

.img_h {
	margin-left: 16.5%;
}

section {
	padding: 0;
	line-height: 1.5;
	margin-top: -10px;
	font-size: 9.6pt;
	margin-bottom: -20px;
}

span, .act {
	color: #cccccc;
}

span {
	font-weight: bold;
}

.video {
	width: 120%;
	float: left;
	margin-top: -30px;
	margin-left: -145px;
	margin-bottom: 1px;
}

section img {
	position: relative;
}

.tv {
	bottom: 20px;
	left: 25px;
}

.radio {
	left: 355px;
	bottom: 240px;
}

aside {
	line-height: 1.5;
	margin-left: 35%;
	margin-top: -200px;
}

aside li {
	list-style-type: none;
}