.main article {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.5;	
}

.main article div.list {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.main article div.list img.h {
	margin-bottom: 20px;
}

.main article div.list ul{
	padding: 0;
	margin: 0;
}

.main article div.list ul li {
list-style-type: none;
}