.main article {
	width: 100%;
	min-width: 550px;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main article div {
	width: 100%;
}
 
.main article div.num1 {
	width: 84%;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: -50px;
}

header .e-mail {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 8%;
}

.main article div.num2 {
	display: -webkit-flex;
	display: flex;
	margin-left: 40%;
	margin-top: -30px;
}

.main article div.num3 {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
