.main article {
	min-width: 490px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: baseline;	
	justify-content: center;
	flex-direction: column;

}

.main article div {
	margin: auto;
}

.main article div img.h {
	margin-bottom: 20px;
}

.main article p {
	white-space: pre-wrap;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.main article div.list {
	width: 400px;
	display: -webkit-flex;
	display: flex;
	
	align-items: center;
	flex-direction: column;
	margin: auto;
}
