header a.eng {
	top: 15px;
	right: 15px;
	text-decoration: none;
}

article {
 	padding-top: 140px;
}

article ul.last_news {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

article ul.last_news li {
	padding-bottom: 40px;
	white-space: nowrap;
}

article ul.last_news li .date {
	float: left;
    width: 40%;
    text-align: right;
}

article a {
	padding-left: 1%;
}
