.kokoshko_h {
 	margin-left: 40px;
 	margin-top: 72px;
 	margin-bottom: 5px;
}

article {
 	margin-left: 31.5%;
 	line-height: 1.5;
}

figcaption {
	font-style: italic;
	font-size: 8pt;
}

aside {
	position: absolute;
	right: 5%;
	top: 80px;
	width: 325px;
	line-height: 1.5;
}