article {
 	width: 100%;
} 

.old_h {
	padding-top: 165px;
	margin-left: 49%;
	padding-bottom: 35px;
}

.sity1 .Odessa {
	margin-left: 145px;
}

.sity1 .light {
	float: right;
	margin-right: -250px;
}

.arrow1 .arr1 {
	margin-left: 145px;
}

.arrow1 .arr2 {
	float: right;
	margin-right: -135px;
}

article ul {
	white-space: nowrap;
	margin-left: 105px;
	margin-bottom: 0;
	margin-top: 10px;
}

article li {
	display: inline;
	list-style-type: none;
	margin-left: -4px;
}

.arrow2 .arr1 {
	margin-left: 70px;
}

.arrow2 .arr2 {
	margin-left: 230px;
}

.sity2 .dark {
	margin-left: 70px;
}

.sity2 .Kyiv {
	margin-left: 120px;
}
