body {
	background-color: black;
	color: #cccccc;
	font-family: verdana;
	font-size: 9.4pt;
}

a {
	color: grey;
}

a:hover {
	color: #cccccc;
}

header {
	padding: 0;
	margin: 0;
	width: 100%;
 }

 header .a1, .a2 {
 	text-decoration: none;
 	position: absolute;
 	top: 0;
 }

 .a1{
	right: 11%;
 }

/*.mail:hover {
 	background-image: url(images/mail_on.gif);
 }*/

 header .a2 {
	top: 15px;
	right: 15px;
 }

 aside {
 	padding-top: 11%;
 }

aside ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

aside li {
	padding-bottom: 40px;
	white-space: nowrap;
}

.data {
	float: left;
    width: 40%;
    text-align: right;
}

aside a {
	padding-left: 1%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
}

.menu {
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.menu li{
	float: right;
	margin-right: 14%;
	display: inline-block;
	padding-bottom: 25px;
}

.logo {
	position: absolute;
	padding-left: 15%;
	padding-bottom: 0px;
	margin-top: -40px;
}