html {
	background-color: black;
	color: #cccccc;
	font-family: verdana;
	font-size: 9.4pt;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
}

a {
	color: grey;
}

a:hover {
	color: #cccccc;
}

header {
	width: 100%;
	min-width: 430px;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

#index header {
	justify-content: flex-end;
}

header .way {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
}

header .way p{
	margin: 0 10px;
}

header .eng {
	margin: 15px 15px 0 0;
}

header .mail_index {
	margin: 0 5% 0 0;
}

header .mail {
	margin: 0 11% 0 0;
}

.main {
	width: 100%;
	flex-grow: 1;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

footer {
	width: 76%;
	min-width: 430px;
	margin: auto;
	box-sizing: border-box;
}

footer ul.menu {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer ul.menu li{
	list-style-type: none;
}

footer li.menu_li {
	margin: 20px 0 0 0;
}
