article {
 	margin-left: 31.5%;
}

.tm_h {
 	margin-left: 40px;
 	margin-top: 120px;
 	margin-bottom: 5px;
}

article li {
	line-height: 2;
	list-style-type: none;
}

aside {
	position: absolute;
	top: 120px;
	right: 13%;
}

aside p {
	position: inherit;
	left: 25px;
}

aside ul {
	padding-top: 20px;
}

aside li {
	list-style-type: none;
	line-height: 1.7;
}