article {
	white-space: pre-wrap;
	color: grey;
	width: 70%;
	margin-left: 15%;
	margin-top: 40px;
	line-height: 1.5;
	font-size: 9.6pt;
}

section {
	margin-bottom: -40px;
}

span {
	color: #cccccc;
	font-weight: bold;
}

section .h {
	margin-right: 50px;
}




.act {
	color: #cccccc;
}

aside {
	line-height: 1.5;
	margin-left: 35%;
	margin-top: 80px;
	margin-bottom: 50px;
}

aside li {
	list-style-type: none;
}