.main article {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main article img {
	margin-bottom: 26px;
}

.main div.lines{
	width: 100%;
	background-image: url(../images/about/lines.gif);
	background-repeat: repeat-x;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

