body {
	background-color: black;
	color: #cccccc;
	font-family: verdana;
	font-size: 9.4pt;
}

a {
	color: grey;
}

a:hover {
	color: #cccccc;
}

header {
	padding: 0;
	margin: 0;
	width: 100%;
 }

 header a {
	position: absolute;
 	top: 0;
 }

 header .a1 {
	left: 0;
 }

 header p {
 	position: absolute;
 	top: -12px;
 	left: 72px;
 }

 header .a2 {
 	text-decoration: none;
 	right: 11%;
 }

.works_h {
	padding-top: 72px;
	margin-left: 46%;
	padding-bottom: 55px;
}

nav {
	margin: auto;
	width: 330px;
}

nav img {
	padding-left: 50px;
	padding-bottom: 40px;
}

nav .img1 {
	margin-left: -20px;
}

nav .img2 {
	margin-left: -40px;
}

nav .img3 {
	margin-left: 0;
}

.clients {
	position: absolute;
	right: 10%;
	top: 175px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
}

.menu {
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

.menu li{
	float: right;
	margin-right: 14%;
	display: inline-block;
	padding-bottom: 25px;
}

.logo {
	position: absolute;
	padding-left: 15%;
	padding-bottom: 0px;
	margin-top: -40px;
}