.main article {
	min-width: 490px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;	}

.main article div.list {
	width: 400px;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.main article div.list a {
	text-decoration: none;
}

.main article div.list img.h {
	margin-bottom: 60px;
}

.main article div.list nav img {
	margin-left: 50px;
	margin-bottom: 40px;
}

.main article div.list nav img.img1 {
	margin-left: 70px;
}

.main article div.list nav img.img2 {
	margin-left: 80px;
}

.main article img.clients {
	margin: 90px 50px 0 0;
}