.works_h {
	padding-top: 72px;
	margin-left: 46%;
	padding-bottom: 55px;
}

nav {
	margin: auto;
	width: 330px;
}

nav img {
	padding-left: 50px;
	padding-bottom: 40px;
}

nav .img1 {
	margin-left: -20px;
}

nav .img2 {
	margin-left: -40px;
}

nav .img3 {
	margin-left: 0;
}

.clients {
	position: absolute;
	right: 10%;
	top: 175px;
}