body {
	background-color: black;
	color: #C9C9C9;

}

header {
	padding: 0;
	margin: 0;
	width: 100%;
 }
 header a {
 	text-decoration: none;
 	position: absolute;
 	top: 0;
 }

 header .a1 {
 	right: 140px;
 }

 header .a2 {
	top: 15px;
	right: 15px;
 }

 aside {
	position: absolute;
	top: 140px;
	left: 425px;
	font-family: verdana;
	font-size: 13px;
 }

aside ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

aside li {
	padding-bottom: 40px;
}

aside a {
	color: grey;
	padding-left: 14px;
}

footer {
	position: absolute;
	bottom: 0;
}

.logo {
	position: absolute;
	bottom: 0;
	left: 187px;
}

.menu {
	padding-bottom: 5px;
}

.menu li{
	display: inline;
	padding-left: 192px;
}

.menu .li1 {
	padding-left: 473px;
}