{% extended "layout.html.twig" %}

{% block title %}
<title>Клиенты</title>
{% endblock %}

{% block style %}
<link href="\Victor/public/style/clients.css" rel="stylesheet">
{% endblock %}

{% block body%}
<img src="\Victor/public/images/works/clients_h.png" class="clients_h">
<article>
<ul>
    {% for client in clients %}
        <li><a href="#">{{ client.title }}</a></li>
    {% endfor %}
</ul>
</article>
{% endblock %}